.DS_Store
.ipynb_checkpoints
_build
__pycache__
*.xml
*.h5
*.msh
*.vtk
*.xdmf
*Fig6-qois.dat
*Fig6.out
*Fig6.sta
*Fig7-qois.dat
*Fig7.out
*Fig7.sta
*Fig8-qois.dat
*Fig8.out
*Fig8.sta
*Fig9-qois.dat
*Fig9.out
*Fig9.sta
*Fig10-qois.dat
*Fig10.out
*Fig10.sta